@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');

*{
    font-family: 'Pretendard';
}

.navbar{
    background-color: #fff;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    height: 64px;
    width: 100%;
    position:fixed;
    z-index:999;
}

.navbar-logo{
    justify-self: start;
    line-height: 64px;
}

.navbar-logo img{
    width: 100px;
    
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}

.nav-links{
    color: #1C1C1C;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.menu-icon{
    display:none;
}

.logo{
    line-height: 64px;
    margin-top: 5px;
}

@media screen and (max-width: 560px) {

    .navbar{
        top: 0;
        height: 64px;
        width: 100vw;
        position:fixed;
        z-index: 999;
    }
    .NavbarItems {
        position: relative;
    }

    .nav-menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        position: absolute;
        justify-content: start;
        top: 55px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
        padding-inline-start: 0px;
        margin-block-start: 0;
    }

    .nav-menu.active{
        background: #F9FAFB;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .nav-links{
        text-align: center;
        padding: 2rem;
        padding-left: 1rem;
        width: 90%;
        display: table;
    }

    .nav-links:hover{
        background: #C5D21E;
    }

    .navbar-logo{
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 25%)
    }

    .menu-icon{
        line-height: 32px;;
        color: #1C1C1C;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.2rem;
        cursor: pointer;
    }

    .fa-times{
        font-size: 1.2rem;
    }
}