/*폰트*/
@font-face {
    font-family: 'Recipekorea'; /*h1~h2: 레코체*/
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Recipekorea.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face { /*본문: 인피니티산스 regular*/
    font-family: 'InfinitySans-RegularA1';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-RegularA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face { /*footer 폰트*/
    font-family: 'ONE-Mobile-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
strong{
    font-size: 16px;
    color: #000;
}

/*레이아웃*/
html {
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif; /*폰트 정해지고 바꾸기*/
    color: #fff;
}

section{
    position: relative;
    max-width: 100%;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1C1C1C;
    background-size: cover;
    transition: 0.5s;
}

.sec {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(images/youtuber.jpg);
    background-size: cover;
    height: 100vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
    z-index: 3;
    background-color: #1C1C1C;
}

header .logo{
    position: relative;
    max-width: 80px;
}

header ul{
    position: relative;
    display: flex;
}

    header ul li {
        list-style: none;
    }

        header ul li a {
            font-family: 'InfinitySans-RegularA1';
            display: inline-block;
            color: #fff;
            font-weight: 400;
            margin-left: 40px;
            text-decoration: none;
        }
.nav{
    height: 50px;
}
.header-container {
    height: 5%;
    color: white;
}

.mainbox {
    position: relative;
    background-size: cover;
    color: white;
    text-align: center;
    align-content: center;
    width: 100% !important;
    height: 90vh;
}

    .mainbox h1 {
        font-family: 'Recipekorea';
        font-size: 4em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate( -50%, -50% );
        color: #fff;
    }

    .mainbox h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate( -50%, -50% );
        font-size: 60px;
    }

.solution {
    height: 90vh;
    padding-top: 200px !important;
    width: 100%;
}

.service-title {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.service-title img{
    max-width: 150px;
    float: right;
}

    .service-title h2 {
        text-align: center;
        font-family: 'Recipekorea';
        font-size: 4em;
    }

.content {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

.content .textbox {
    position: relative;
    width: 700px;
    margin-left: 100px;
}
.text-title {
    justify-content: center;
}

    .text-title img {
        float: left;
        width: 260px;
}
    .content .textbox h2 {
        font-family: 'Recipekorea';
        font-size: 4em;
        line-height: 1.5em;
        font-weight: 900;
        color: white;
    }

    .content .textbox p {
        font-family: 'InfinitySans-RegularA1';
        padding: 8px;
        font-size: 17px;
    }
    .content .textbox a{
        font-family: 'InfinitySans-RegularA1';
        display: inline-block;
        margin-top: 20px;
        padding: 8px 20px;
        background: #E0F140;
        color: #111;
        border-radius: 40px;
        font-weight: 500;
        letter-spacing: 1px;
        text-decoration: none;
    }

    .content .imgbox {
        width: 700px;
        margin-right: 100px;
        display: flex;
        padding-right: 50px;
        margin-top: 20px;
        justify-content: flex-end;
    }

.content .imgbox img {
    max-width: 500px;
    height: 300px;
}

.imgbox{
    padding: 10px;
    margin: 5px auto;
}
.imgbox img{
    width: 1200px;
    margin-left: 5px auto !important;
}

.tools {
    height: 30%;
    padding-top: 200px !important;
}

.icons_list {
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
}

    .icons_list ul li {
        margin-right: 50px;
        margin-left: 50px;
    }

.details {
    font-family: 'InfinitySans-RegularA1';
    width: 100%;
    margin-top: 30px;
    font-weight: 500;
    font-size: 1.2em;
}
    .icons_list ul {
        margin: 0px;
        padding: 0px;
        text-align: center;
        color: #1C1C1C;
        width: 100%;

    }

        .icons_list ul li {
            display: inline-block;
            width: 150px;
            height: 150px;
            text-align: center;
            background: #E0F140;
            border-radius: 100%;
            margin-right: 100px;
        }

icons_list ul li a i{
    display: block;
    color: #1C1C1C !important;
    font-size: 60px;
    line-height: 100px;
}
neon {
    color: #E0F140;
    font-family: 'Recipekorea';
}

.faq {
    
    justify-content: center;
}

.faq-container {
    
    margin: auto;
    z-index: 1;
    margin-top: 2%;
    width: 100%;
    font-family: sans-serif;
    letter-spacing: 0.5px;
    padding-bottom: 300px;
}

.chat-page {
    padding: 0 0 50px 0;
    color: #1C1C1C;
}
.faq-title {
    padding-top: 75px;
    text-align: center;
    font-family: 'Recipekorea';
}

.faq-title h2 {
    font-family: 'Recipekorea';
    font-size: 4em;
}

.msg-inbox {
    padding-bottom: 30px;
    height: 20%;
}

.chats{
    padding: 30px 15px 0 25px;
}

.msg-page{
    height: 516px;
}


.received-chats-img img {
    display: inline-block;
    width: 60px;
    float: left;
}

.received-msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}
.received-msg-inbox1 {
    max-width: 38%;
}

.received-msg-inbox2{
    max-width: 48%;
}

.received-msg-inbox3 {
    max-width: 50%;
}

.received-msg-inbox1 p, .received-msg-inbox2 p, .received-msg-inbox3 p {
    font-weight: 700;
    font-family: 'NanumSquareRound';
    background: #efefef none repeat scroll 0 0;
    color: #1C1C1C;
    border-radius: 10px;
    padding: 5px 10px 5px 20px;
    width: 100%;
    margin: 0;
    margin-bottom: 40px;
    margin-top: 40px;
    min-height: 50px;
    line-height: 50px;
}
            .outgoing-chats {
                overflow: hidden;
                margin-bottom: 20px;
            }

.outgoing-chats-msg p {
    font-size: 16px;
    font-weight: 700;
    font-family: 'NanumSquareRound';
    background: #E0F140 none repeat scroll 0 0;
    color: #000;
    border-radius: 10px;
    padding: 5px 10px 5px 20px;
    width: 100%;
    margin: 0;
    line-height: 30px;
}

.outgoing-chats-msg{
    float: left;
    width: 46%;
    margin-left: 45%;
    padding: 10px;
}

.outgoing-chats-img img{
    display: inline-block;
    width: 60px;
    float: right;
}
footer {
    background-color: lightgray;
    height: auto;
}
.footer-box {
    padding-left: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
}
footer p {
    
    font-family: 'ONE-Mobile-Regular';
    color: #585656 !important;
    top: 50%;
    left: 50%;
    line-height: 180%;
}


