body{
    overflow-x: hidden;
}

.bringcon-info-container{
    background-color: #1C1C1C;
    background-image: url('../images/background_Bringcon.svg');
    min-height: 200vh;
    top: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bringcon-logo-container{
    width: 100%;
    display: inline-block;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 156px;
}

.bringcon-logo{
    width: 775.99px;
}

.bringcon-logo-container > h2 {
    font-size: 28px;
    font-weight: 400;
    color: #fff;
    line-height: 33.6px;
    margin-top: 93.95px;
    margin-bottom: 48.64px;
}

.bringcon-link-btn{
    background: #ffcb39;
    width: 297px;
    height: 41px;
    font-size: 18px;
    font-weight: 900;
    line-height: 50%;
    border: 0px;
    border-radius: 33px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.bringcon-link-btn:hover{
    cursor: pointer;
}

.bringcon-link-btn > img{
    width: 143.3px;
    margin-right: 22px;
}

.rainbow-container{
    width: 100%;
    height: auto;
}

.bringcon-strong-1, .bringcon-strong-2, .bringcon-strong-3{
    display: flex;
    flex-direction: row;
    padding-left: 50px;
}

.bringcon-strong-1{
    width: 30%;
    float: right;
    padding-top: 15px;
}

.bringcon-strong-2{
    padding-top: 100px;
}

.bringcon-strong-3{
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.bringcon-strong-1 p, .bringcon-strong-2 p, .bringcon-strong-3 p{
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    margin-top: 50px;
}

.planet-img{
    width: 87px;
    transform: rotate(345deg);
}

.rainbow{
    margin-top: -50%;
    margin-bottom: -50%;
    transform: rotate(-10deg);
    width: 2000px;
}

.notice-container{
    padding-top: 40px;
    padding-bottom: 300px;
    width: 100%;
    color: #fff;
    display:inline-grid;
    grid-template-columns: 40% 30%;
    text-align: start;
    justify-content: center;

}
.notice-1, .notice-2{
    padding-bottom: 85px;
}

.notice-1 h2, .notice-2 h2, .notice-3 h2, .notice-4 h2{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 36px;
}

.notice-1 p, .notice-2 p, .notice-3 p, .notice-4 p {
    font-size: 18px;
    font-weight: 400;
}