@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

*{
  font-family: 'Pretendard';
}

::-webkit-scrollbar {
  /* 스크롤바 막대 너비 설정 */
  width: 6px;
}

::-webkit-scrollbar-thumb{
  /* 스크롤바 막대 높이 설정 */
  height: 17%;
  background-color: #333333;
  border-radius: 10px;
}
